ADMIN_SECRET_KEY=Sultan/izsdafsdafsdfe56sadfsad1321
API_VERSION=/V1/0.0/
CLOUD_API_KEY=479sdfa149354764791
CLOUD_API_PASS=K53eDRsdfsdfsdB0WN9NRsdiSV0PHln_tRc
CLOUD_SERVER_NAME=dcxgdrxqn
DEBUG_MODE=true
EXPIRES_IN=24h
FRONTEND_URL=https://johndox.vercel.app
GOOGLE_CLIENT_ID=841975640697-u4amnsdfsdafsqfefa6ndr8rvijlbfpu3qovsgur.apps.googleusercontent.com
LOCATIONIQ_KEY=pk.8b2ddffe7f123sdafasfsdf24ce720029a9e728902
MAIL_ENCRYPTION=SSL
MAIL_FROM_ADDRESS=joshuasadfasdfassmerlin506@gmail.com
MAIL_FROM_NAME=Terralink
MAIL_HOST=smtp.gmsdafsdaail.com
MAIL_MAILER=smtp
MAIL_PASSWORD="synmsdafsdaf hlis vzau dtrb"
MAIL_PORT=465
MAIL_USERNAME=joshuamesdfasfasdrlin506@gmail.com
RESEND_API_KEY=re_4BGD3GAt_9SBsdafdfsduRhUQNMp8A2P8McDHbicT
MONGO_URL=mongodb+srv://tressadfsad60hn_db_user:kikmDJdi6UJ2qnoJ@terralink.otupnj7.mongodb.net/
PORT=5000
PUBLICK_KEY=pk_test_51R7VdAsdfsdfsdfPd1423AVfYRA4i73zXUsdY2inHCv31hvN9z2U8xF2TjlO6UPmAYGjO2GLIGSPQnDXZD3T86TpuVN4orstP00dbYsAHJ5sdfas
REDIS_HOST=redisss-12663.c281.us-sdafsadeast-1-2.ec2.clossud.redssislabs.com
REDIS_PASSWORD=tVkWHyiwQKY5YFBEsdfsadfsdUfmWsHtCSes2WYAc
REDIS_PORT=12663
RESET_SECRET_KEY=Sultan/izsdfse5sdfa65sdfsafsd6
SECRET_KEY=Sultan/izesdfsadfsdfsd5613sdfa21
SITE_OWNER_MAIL=ters60.hn@gmail.com
STRIPE_SECRET_KEY=sk_test_51R7VdAPd14sdfsadf23AVfY0sdfsadfsadosdMxvWJVIBw1uil9DmkjnQT0arwVXTLMS7Kvf8CLzrBSIC6hP5RX6vRyYVrbBEu7beZusdfsdfsd8500aHALkzkb
STRIPE_WEBHOOK_SECRET=whsec_e58fcssdfsadafsdafiIT3AeXx2HjDMIPAON6bGxLZlJu
